
body{
    background-color: hsl(279, 100%, 29%);
}
#logo {
    width: 7.5rem;
    height: 8.75rem;
}
footer {
    background-color: hsl(282, 50%, 61%);
}
#menu2  {
    background-color: hsl(281, 58%, 46%);
    padding: 1rem;
}
aside>li {
    background-color: hsl(0, 0%, 100%);
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.menu1-item{
    display: inline;
    margin-left: 1rem;
}
header {
    background-color: hsl(282, 50%, 61%);
}

.menu2-item{
    margin-top: 0.93rem;
}

header {
 display: flex;
flex-wrap: wrap;
justify-content:space-between;
align-items: center;
}
#principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
button {
    font-size: 1.2rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: 0rem;
    
}
footer{
    display: flex;
    justify-content: center;
}
.menu-title {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    
}
footer>p {
    margin-left: 0.93rem;
}

#articulos {
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
}

#menu2>nav>li {
    background-color: hsl(0, 0%, 100%);
    padding: 0.31rem;
}

article {
    background-color: hsl(282, 100%, 34%);
    text-align: center;
    padding: 1rem;
    
}
#articulos {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;

}
#right-side {
    background-color: hsl(281, 58%, 46%);
    padding: 1rem;
}


li {
    list-style-type: none;
}
article{
    flex:1 1 23%;
    

}