body {
    margin:0;
    box-sizing: border-box;
    font-size: 4rem;
    font-family: sans-serif;
    background-color:black
}
.container {
    display: grid;
    background-color: #404040;
    border-radius: 10px;
    border: solid 2px #000000;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 4fr 1fr;
    justify-items: center;
    height: 100vh;
    align-items: center;
    grid-template-areas: 
    "header header header header"
    "main   main   .      aside"
    "footer footer footer footer"
    ;
}

.item-header {
grid-area: header;
background-color: red;
}
.item-main {
grid-area: main;
}
.item-aside {
grid-area: aside;
}
.item-footer {
grid-area: footer;
}